body {

    background-color: bisque;
    text-align: center;
}

h1 {

    text-align: center;
    background-color: aquamarine;
    margin-top: 2px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    color: black;
    border: 2px solid black;
}

a {

    text-decoration: none;
    font-size: x-large;
    line-height: 21px;
    color: blueviolet;
    text-align: center;
}

